@using System.Security.Claims
@using Microsoft.IdentityModel.JsonWebTokens
@{
    var userName = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        var claimsIdentity = User.Identity as ClaimsIdentity;
        if (claimsIdentity != null)
        {
            var userNameClaim = claimsIdentity.FindFirst(ClaimTypes.Name);
            if (userNameClaim != null)
            {
                userName = userNameClaim.Value;
            }
        }
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserInterface.Application</title>


    <!--=====================================================================-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserInterface.Application.styles.css" asp-append-version="true" />
    <!--=====================================================================-->


</head>
<body class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" asp-action="Index" asp-controller="Home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">About</a>
        </li>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Admin">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="LogOut" asp-controller="Authentication">Logout</a>
                </li>
                <li class="nav-item">
                    <p class="nav-link">@User.Identity.Name</p>
                </li>
               
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Login" asp-controller="Authentication">Login</a>
                </li>
            }
        }
        
        
        
    </ul>








    <div>
        @RenderBody()
    </div>







    <footer class="bottom-0">This is footer </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--=====================================================================-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
